

body {
    background-color: lightgray;
}


header {
    position: absolute;
    top: 2px;
    left:  10px;
    width: 1010px;
    height: 40px;
    /*padding: 0.5em;*/
    color: white;
    background-color: darkgray;
    /*clear: left;*/
    text-align: center;
    /*v42px; h 100%*/
}

div#layout_area {
  width: 1000px;
  border: 5px solid green;
  position: absolute;
    top: 42px; /*4.2em*/ /*relative to parent #secleft*/
    left: 10px;
  height: 600px;
  /* v42+5*/
}

div#menu {  /*child of #secleft*/
    width: 444px; /*(width of parent)-(2 x border) */
    height: 20px;
    position: absolute;
    top: 0px; /*4.2em*/ /*relative to parent #secleft*/
    left: 0px;
    float: left;
    max-width: 60em;
    border: 3px solid darkred;
    margin: 0;
    padding: 5px;
    /*v78px; h476px*/
}


div#secleft {
  float: left;
  position: absolute;
  top: 0px; 
  left: 0px;
  width: 450px;
  height: 500px;
  background-color: salmon;
  /*border: 3px solid darkred;*/
  padding: 5px;
  /*v584*; h476px*/
}

div#secrighttop {
  float: left;
  position: absolute;
  top: 0px; /*3.1em*/
  left: 460px; 
  width: 480px;
  height: 320px;
  background-color:transparent;
  /*border: 1px solid darkgray;*/ /*for debug visibility*/
  /*v334*/
}
div#secrightbot {
  float: left;
  width: 480px;
  position: absolute;
  top: 320px; /*3.1em*/
  left: 460px; 
  height: 190px;
  background-color: blue;
  /*border: 3px solid darkred;*/
}


